.contaier {
  display: flex;
}

.row {
  display: flex;
}

body {
  background-color: #3894dc;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
}

/* .full-column {

}

.image {

}

.one-third-column
{

} */
