
h1 {
  font-family: 'Brandon Grotesque', sans-serif;
  text-align: center;
  color: #ec5c54;
  font-size: 16px;
}

.container {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-family: 'Brandon Grotesque', sans-serif;
}

.row {
  width: 110%;
  height: 20%;
  margin-bottom: 15px;
}

label {
  margin-left: 10px;
  color: #312e2e;
}

.drop {
  width: 110%;
  height: 100%;
}

body {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: bold;
  font-size: 11px;
}

::placeholder {
  color: #bbb3b3;
}

input,
select,
textarea {
  font-family: 'AtlasGrotesque', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 8px;
  color: #424040;
}

#engineers {
  font-family: 'Brandon Grotesque', sans-serif;
  width: 100%;
  height: 20%;
  font-size: 14px;
}

button {
  background-color: #ec5c54;
  font-family: 'Brandon Grotesque', sans-serif;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 5px 19px;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
}

.button {
  justify-content: flex-end;
  position: relative;
}
