
body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

.two-rem-margins {
  margin: 2rem;
}

.row {
  display: flex;
}

.image {
  width: 100%;
}

.icon {
  width: 25%;
}

.heading {
  flex-basis: 100%;
  text-align: center;
}

.column-fourth {
  flex-basis: 24%;
}

/* .container {

} */
