
body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

.margins {
  margin: 1rem 4rem 1rem 4rem;
}

.space {
  justify-content: space-between;
}

.row {
  display: flex;
}

.image {
  width: 100%;
}

.icon {
  width: 25%;
}

.heading {
  flex-basis: 100%;
  text-align: center;
}

.column-fourth {
  flex-basis: 24%;
}
