
* {
  box-sizing: border-box;
}

span {
  font-family: 'Courier Prime', monospace;
}

.text {
  min-height: 100vh;
  display: flex;
}

.incorrect {
  color: red;
  border-bottom: red solid 3px;
}

.sentence {
  margin: auto;
}

.correct {
  color: #60ce34;
}

.current {
  border-bottom: solid 3px;
}

.letter {
  margin: 0.1rem;
}

/* .hidden {
  display: none;
}

.dialogue {
  background-color: white;
  margin: auto;
  padding: 2rem;
  border-radius: 0.25rem;
} */
