
.row {
  display: flex;
  margin: 1rem;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

p {
  display: block;
  font-size: 17px;
  color: #464646;
  margin-top: 0.5rem;
}

h3 {
  height: auto;
  width: auto;
  display: block;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  font-size: large;
}

.image {
  display: flex;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 7rem;
  line-height: 1.75rem;
}

.full-column {
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.half-column {
  display: flex;
  margin: 1rem;
}

.two-thirds-col {
  margin-right: 2rem;
  padding: 1rem;
}

button {
  font-family: 'Karla', sans-serif;
  border-color: #d44c44;
  color: #d44c44;
  background-color: white;
  border: 2px solid;
  padding: 0.75rem 3.5rem;
  font-size: 18px;
  border-width: 2.75px;
}

.button {
  display: flex;
  justify-content: center;
}
