
.container {
  max-width: 1300px;
  margin: auto;
}

.column-third {
  flex-basis: 30%;
}

.row {
  display: flex;
  margin: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.two-rem-margins {
  margin: 2rem;
}

.two-rem-padding {
  padding: 3rem;
}

.large-font {
  font-size: 48px;
}

.padding {
  padding: 2rem 0 0 5.5rem;
}

.border {
  border-bottom: solid 1px #e7e9ec;
}

button {
  font-family: 'Avenir', sans-serif;
  border-color: #304464;
  color: white;
  background-color: #304464;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  border: none;
  width: 16rem;
  height: 4rem;
}

.get-started {
  font-size: 25px;
}

.picture-heading {
  font-family: 'Tiempos Headline', sans-serif;
  font-size: 48px;
  font-weight: normal;
}

.p-style {
  font-size: 21px;
  line-height: 37px;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 1207px;
  height: 680px;
}

.back-image {
  display: flex;
  background-image: url('images/hero.jpg');
  width: 1400px;
  height: 740px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  opacity: 90%;
}

.text-on-image {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  color: white;
  width: 670px;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

.white-font {
  color: white;
}

.text-center {
  text-align: center;
}

.top-padding {
  padding-top: 3rem;
  position: relative;
}

.bottom-margin {
  margin-bottom: 2rem;
}

.right-left-margins {
  margin-left: 22rem;
  margin-right: 22rem;
}

.address {
  line-height: 0.75rem;
}

.tiempos {
  font-family: 'Tiempos Headline', sans-serif;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

.heading {
  font-family: 'Tiempos Headline', sans-serif;
  color: #6e6e6e;
  flex-basis: 100%;
  text-align: center;
  font-size: xx-large;
}

.grey-avenir {
  font-family: 'Avenir', sans-serif;
  color: #6e6e6e;
}

.flex-100 {
  flex-basis: 100%;
}

.grey-tiempos {
  font-family: 'Tiempos Headline', sans-serif;
  color: #6e6e6e;
}

.half-col {
  margin: 3rem;
  flex-basis: 50%;
}

.flex-display {
  display: flex;
}

.clinicians-background {
  background-color: #fafafa;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.line-height {
  line-height: 2.5rem;
}

.one-rem-margins-padding {
  margin: 1rem;
  padding: 1rem;
}

.contact-us {
  width: 6.5rem;
  height: 3rem;
}

.footer {
  flex-basis: 100%;
  background-color: #585454;
  color: white;
  padding: 5rem;
}

.footer-elements {
  color: grey;
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
}

.white-logo {
  width: 30%;
}

.blue-logo {
  width: 15%;
}
