
.container {
  max-width: 1300px;
  margin: auto;
}

.column-third {
  flex-basis: 30%;
}

.row {
  display: flex;
  margin: auto;
}

.column-full {
  flex-basis: 100%;
}

.justify-between {
  justify-content: space-between;
}

.two-rem-margins {
  margin: 3rem;
}

.padding {
  padding: 4rem 1rem 1rem 6.5rem;
}

button {
  font-family: 'Avenir', sans-serif;
  border-color: #304464;
  color: white;
  background-color: #304464;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  border: none;
}

.get-started {
  padding: 1rem 4rem;
  font-size: 25px;
}

.picture-heading {
  font-family: 'Tiempos Headline', sans-serif;
  font-size: 48px;
  font-weight: normal;
}

.p-style {
  font-size: 21px;
  line-height: 37px;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 1299px;
  height: 732px;
}

.back-image {
  display: flex;
  background-image: url('images/hero.jpg');
  width: 1600px;
  height: 900px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  opacity: 90%;
}

/* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/hero.jpg'); */

.text-on-image {
  font-family: 'Avenir', sans-serif;
  position: absolute;
  color: white;
  margin-right: 47rem;
}

.text-center {
  text-align: center;
}

.heading {
  font-family: 'Tiempos Headline', sans-serif;
  color: #6e6e6e;
  flex-basis: 100%;
  text-align: center;
}

.grey-avenir {
  font-family: 'Avenir', sans-serif;
  color: #6e6e6e;
  flex-basis: 100%;
}

.grey-tiempos {
  font-family: 'Tiempos Headline', sans-serif;
  color: #6e6e6e;
}

.half-col {
  margin: 3rem;
  flex-basis: 100%;
}

.flex-display {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.footer {
  flex-basis: 100%;
  background-color: #585454;
  color: white;
}

/*
.header {
  flex-basis: 100%;
  border-bottom: 1px;
  padding: 1rem;
}

.tabs-style {
  color: #a0a0a0;
}

a {
  text-decoration: none;
  margin: 1rem;
}

h1 {
  font-family: 'Tiempos Headline', sans-serif;
  color: #304464;
}

.tabs {
  display: flex;
  justify-content: center;
  color: #a0a0a0;
}

button {
  font-family: 'Avenir', sans-serif;
  border-color: #304464;
  color: white;
  background-color: #304464;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
}

.clinicians {
  background-color: #fafafa;
  font-family: 'Avenir', sans-serif;
  color: #656565;
}

h2 {
  font-family: 'Tiempos Headline', sans-serif;
}

:visited {
  color: white;
}

.row {
  display: flex;
}

.avenir-center {
  font-family: 'Avenir', sans-serif;
  text-align: center;
}

.image {
  width: 1600px;
  height: 900px;
  background-image: url('images/hero.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  position: relative;
  padding: 3rem;
  margin: 3rem;
}

.image > img {
  width: 50%;
}

.text-on-image {
  position: absolute;
  color: white;
  margin-right: 50rem;
  font-size: x-large;
  line-height: 3rem;
  font-family: 'Avenir', sans-serif;
}

.locations {
  display: flex;
}

.half-col {
  margin: 3rem;
}

.footer {
  display: flex;
  background-color: #585454;
  color: white;
}

.learn-more {
  display: flex;
  color: #656565;
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 300;
}

footer {
  color: grey;
  font-family: 'Avenir', sans-serif;
}

.column-third {
  flex-basis: 30%;
}

.column-half {
  flex-basis: 50%;
}

.column-full {
  border-bottom: 1px;
  padding: 2rem;
}

.justify-between {
  justify-content: space-between;
} */
