/* body {
} */

/* .container {
  display: flex;
} */

.header {
  display: flex;
}

a {
  text-decoration: none;
  margin: 1rem;
}

h1 {
  font-family: 'Tiempos Headline', sans-serif;
  color: #304464;
}

.tabs {
  display: flex;
  justify-content: center;
}

button {
  font-family: 'Avenir', sans-serif;
  border-color: #304464;
  color: white;
  background-color: #304464;

  /* border: 2px solid; */
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
}

.image {
  width: 1600px;
  height: 900px;
  background-image: url('images/hero.jpg');
  position: relative;
  padding: 3rem;
  margin: 3rem;
}

.image > img {
  width: 50%;
}

.text-on-image {
  position: absolute;
  color: white;
  margin-right: 50rem;
  font-size: x-large;
  line-height: 3rem;
  font-family: 'Avenir', sans-serif;
}

.locations {
  display: flex;
}

.half-col {
  margin: 3rem;
}

.footer {
  display: flex;
  background-color: #585454;
  color: white;
}

.learn-more {
  display: flex;
  color: #585454;
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 300;
}

footer {
  color: grey;
  font-family: 'Avenir', sans-serif;
}
